body{
    background-color: grey;
}

.img-thumbnail{
    padding: 0;
}

.well{
    background-color: darkgrey;
}

.jumbotron{
    margin-left: 0px;
}

.navlink{
    color:black;
}

.navlinks{
    color: white;
}

.date{
    color: rgb(61,61,61);
}

.footer{
    background-color: rgb(61,61,61);
    color: gray;
    height: 120px;
    padding: 20px;
}

.redirect:link {
    color: black;
    text-decoration: none;
}

.redirect:visited {
    color: black;
    text-decoration: none;
}

.redirect:hover {
    color: black;
    text-decoration: none;
}

.redirect:active {
    text-decoration: none;
}

#cabecera{
    margin: 0px;
    width: 100%;
}

#loadMore {
        margin-left: 35%;
}

@media screen and (min-width: 850px){
.img-thumbnail{
    margin-left: 10px;
}

.well{
    padding: 5px;
    margin-left: 20px;
}

#h4{
    float: bottom;
}

.img-thumbnail, .new-desc{
    display: inline;
}

#banner{
    margin-left: 0px;
    margin-right: 0px;
}

#adm{
    display:none;
}
}

@media screen and (max-width: 849px){

    .img-thumbnail{
        margin-left: 9vw;
    }

    #ads{
        display:none;
    }
    
    #adm{
        z-index:1;
        position: fixed;
        bottom: 0px;
        margin: 0 auto;
    }

}